<!DOCTYPE html>
<html lang="pt-br">
  <%- include('layout/head') %>

<body class="overflow-x-hidden antialiased">


    <%- include('layout/hero') %>
    <%- include('layout/header') %>

    <!-- próximas seções virão aqui -->
    <%- include('partials/catalogo') %> 

    <%- include('layout/footer') %>
    
    <%- include('partials/catalogo2') %>

    <%- include('layout/footer2') %>

    <%- include('layout/rodape') %>


    

  </body>
</html>
